Repository Wanted-Pre-Onboarding-Backend7-R/tasty-finder, pull requests merged in 2023-11, with the labels that each got.

#11 feat #1: 사용자 등록 API 구현 & Spring Security 설정
  .gitignore
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SecurityConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/domain/Member.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/dto/MemberCreateRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/repository/MemberRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/service/MemberService.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/service/MemberServiceTest.java
Labels: ☁️ feature

#12 feat #2: 사용자 로그인(JWT) API 구현
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/controller/AuthController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/domain/MemberAdapter.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/dto/TokenCreateRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/dto/TokenCreateResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtAuthenticationFilter.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtTokenProvider.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/service/AuthService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/service/UserDetailsServiceImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SecurityConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/CustomErrorResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/CustomException.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCodeType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/GlobalExceptionHandler.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/domain/Member.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/domain/Role.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/repository/MemberRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/service/MemberService.java
  src/main/resources/application.yml
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/controller/AuthControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtTokenProviderTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/service/AuthServiceMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/service/MemberServiceTest.java
  src/test/resources/application.yml
Labels: ☁️ feature

#16 feat #4: 사용자 설정 업데이트 API 구현
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/dto/TokenCreateRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtAuthenticationFilter.java
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SecurityConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/AccessDeniedHandlerImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/AuthenticationEntryPointImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/CustomErrorResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/CustomException.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCodeType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/GlobalExceptionHandler.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/domain/Member.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/dto/MemberCreateRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/dto/MemberUpdateRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/service/MemberService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/Latitude.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/LatitudeValidator.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/Longitude.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/LongitudeValidator.java
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/controller/AuthControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/domain/MemberTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/service/MemberServiceTest.java
Labels: ☁️ feature

#17 feat #13: 시군구 데이터 Redis 적재 기능 구현
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/domain/SggData.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/repository/SggDataRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataInitService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataLoadService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataService.java
  src/main/resources/application.yml
  src/main/resources/data/sgg_lat_lon.csv
  src/main/resources/redis.yml
  src/main/resources/sgg-csv-config.yml
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/domain/SggDataTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataLoadServiceTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataServiceTest.java
  src/test/resources/application.yml
  src/test/resources/data/sgg_lat_lon.csv
  src/test/resources/redis.yml
  src/test/resources/sgg-csv-config.yml
Labels: ☁️ feature

#19 feat #7: 맛집 상세정보 API 구현
  src/main/java/com/wanted/teamr/tastyfinder/TastyFinderApplication.java
  src/main/java/com/wanted/teamr/tastyfinder/api/common/BaseTimeEntity.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Matzip.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipService.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipContollerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipControllerMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipServiceMockTest.java
Labels: ☁️ feature, 🧪 test

#32 refactor #7: 필드명 변경으로 인한 JPQL 코드 수정
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepository.java
Labels: 🛠 refactor

#30 feat #9: 맛집 목록 조회 API - 거리순, 평점순 정렬 구현
  .gitignore
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/CustomErrorResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCodeType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/GlobalControllerAdvice.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/RequestBodyErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Location.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Matzip.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/MatzipListRetrieveType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/TempMatzipRaw.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipListRetrieveRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipSummaryReponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipService.java
  src/main/java/com/wanted/teamr/tastyfinder/common/TriFunction.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipControllerMatzipListRetrieveTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/domain/LocationTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/fixture/LocationFixture.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipServiceMatzipListRetrieveTest.java
  src/test/resources/db/matzip.sql
Labels: ☁️ feature

#35 feat #6: 평가 작성 API 구현
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Matzip.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/controller/ReviewController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/domain/Review.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/dto/ReviewRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/dto/ReviewResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/repository/ReviewRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/service/ReviewService.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipContollerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipControllerMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipServiceMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/review/controller/ReviewControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/review/service/ReviewServiceTest.java
Labels: ☁️ feature, 🧪 test

#27 feat #23: 시군구 목록 조회 API 구현
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/controller/SggDataController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/dto/GetSggDataResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataService.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/controller/SggDataControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/dto/GetSggDataResponseTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataLoadServiceTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/sgg/services/SggDataServiceTest.java
Labels: ☁️ feature

#40 setup #38: springdoc 세팅
  build.gradle
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SecurityConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SpringDocConfig.java
  src/main/resources/application.yml
  src/main/resources/springdoc-config.yml
Labels: 🧹 setup

#42 fix #41: 위도/경도 validation 수정
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/LatitudeValidator.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/validation/LongitudeValidator.java
Labels: 🔨 fix

#39 feat #10: 맛집 목록 조회 음식 종류 필터링, 페이징 구현과 MatzipRaw 실제 클래스로 전환
  src/main/java/com/wanted/teamr/tastyfinder/api/config/QuerydslConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/RequestBodyErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipController.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Location.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/Matzip.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/MatzipListRetrieveCategory.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/MatzipListRetrieveType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/domain/TempMatzipRaw.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipListRetrieveRequest.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipSummaryReponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/dto/MatzipSummaryResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepository.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepositoryCustom.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/repository/MatzipRepositoryImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/validation/RetrieveRange.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/validation/RetrieveRangeValidator.java
  src/main/java/com/wanted/teamr/tastyfinder/common/TriFunction.java
  src/main/java/com/wanted/teamr/tastyfinder/datapipelining/domain/MatzipRaw.java
  src/main/resources/application.yml
  src/main/resources/matzip-page.yml
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/MatzipDummyDataTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipControllerMatzipListRetrieveTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipServiceMatzipListRetrieveTest.java
  src/test/resources/application.yml
  src/test/resources/db/matzip.sql
Labels: ☁️ feature

#45 Refactor/#44 swagger UI path
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SecurityConfig.java
  src/main/java/com/wanted/teamr/tastyfinder/api/config/SpringDocConfig.java
  src/main/resources/springdoc-config.yml
Labels: 🛠 refactor

#49 fix #48: 시군구 서비스 테스트 깨짐 수정
  src/main/java/com/wanted/teamr/tastyfinder/TastyFinderApplication.java
  src/main/java/com/wanted/teamr/tastyfinder/api/config/JpaAuditingConfig.java
Labels: 🔨 fix

#47 feat #43: exception handling 추가
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtAuthenticationFilter.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtTokenProvider.java
  src/main/java/com/wanted/teamr/tastyfinder/api/auth/service/UserDetailsServiceImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/ErrorCodeType.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/domain/CustomException.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/domain/ErrorCode.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/dto/CustomErrorResponse.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/handler/AccessDeniedHandlerImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/handler/AuthenticationEntryPointImpl.java
  src/main/java/com/wanted/teamr/tastyfinder/api/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/member/service/MemberService.java
  src/main/java/com/wanted/teamr/tastyfinder/api/review/service/ReviewService.java
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/controller/AuthControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/auth/infrastructure/JwtTokenProviderTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipContollerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/controller/MatzipControllerMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/matzip/service/MatzipServiceMockTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/controller/MemberControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/member/service/MemberServiceTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/review/controller/ReviewControllerTest.java
  src/test/java/com/wanted/teamr/tastyfinder/api/review/service/ReviewServiceTest.java
Labels: ☁️ feature
